# Node & Env
node_modules
.env
app/.env

# Vite & Bundlers
*.timestamp-*
.vercel

# Electron & Build Outputs
app/dist/
app/dist-desktop/
app/dist-electron/
app/build/
app/icons/

# OS Files
.DS_Store
Thumbs.db